.sgf-status-indicator {
    background: transparent;
    border: 0;
    display: flex;
}
.sgf-status-indicator-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #222;
    border-radius: 4px;
    top: -18px;
    padding: 4px;
    transform: translateX(calc(-50% + 8px));
    box-shadow: 2px 2px 6px 4px rgb(0 0 0 / 25%);
    opacity: 0;
    transition: opacity 0.1s ease-out 0.5s;
    z-index: 999;
    max-width: 220px;
    width: fit-content;
}
.sgf-status-indicator:hover .sgf-status-indicator-card {
    opacity: 1;
    height: auto;
}
.sgf-status-browse-button {
    background: transparent;
    border: 0;
    height: 24px;
    display: flex;
    cursor: pointer;
}