.sgf-status-indicator {
    background: transparent;
    border: 0;
}
.sgf-status-indicator-card {
    display: flex;
    position: absolute;
    background: #222;
    border-radius: 4px;
    top: -18px;
    padding: 4px;
    transform: translateX(-50%);
    box-shadow: 2px 2px 6px 4px rgb(0 0 0 / 25%);
    opacity: 0;
    transition: opacity 0.1s ease-out 0.5s;
}
.sgf-status-indicator:hover .sgf-status-indicator-card {
    opacity: 1;
    height: auto;
}
.sgf-status-browse-button {
    background: transparent;
    border: 0;
    height: 24px;
    display: flex;
    cursor: pointer;
}